body {
	font-family: Lucida Sans Unicode;
	text-align: center;
}

h1{
	color: darkslateblue;
	font-size: 36px;
	text-align: center;
}

h2{
	color: darkslateblue;
	font-size: 24px;
	text-align: center;
}

h3{
	color: darkslateblue;
	font-size: 16px;
	text-align: left;
	margin-left: 50px;
}

#checkbook-container{
	position: relative;
	width: 800px;
	height: auto;
	border-radius: 8px;
	border: 2px solid gray;
	box-shadow: 4px 3px darkslateblue;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
}

#account-form, #new-transaction-form {
	position: relative;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	width: 700px;
}

#new-account-button, #new-transaction-button {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

label {
	width: 125px;
	margin-left: 50px;
}

input[type="text"]{
	width: 500px;
	border-radius: 5px;
	box-shadow: 4px 2px darkslateblue;
}

#accountholder {
	width: 575px;
}

#balance{
	width: 250px;
}

#transactions-table {
	background-color: white;
	width: 90%;
	height: auto;
	margin-right: auto;
	margin-left: auto;
	padding: 10px;
	border: 2px solid gray;
	border-collapse: collapse;
	border-radius: 8px;
	table-layout: auto;
}

th{
	border: 3px solid black;
}

tr td{
	height: 25px;
	border: 2px solid black;
	word-wrap: normal;
	vertical-align: top;
}

#headerRow {
	color: darkslateblue;
	text-align: center;
}

.center-align-col {
	text-align: center;
	min-width: 90px;
}

.left-align-col {
	padding-left: 10px;
	word-wrap: normal;
	min-width: 200px;
}

#all-transactions-form {
	position: relative;
}

#all-transactions-form button{
	background-color: darkgray;
	position: absolute;
	right: 40px;
}

#all-transactions-form button:hover {
	background-color: lightgray;
}

.JavaScriptDropdown{
	position: relative;
	margin-top: 0;
}















