/* General Styling */

html, body {
	height: 100%;
	width: 100%;
}

body {
	font-family: Lucida Sans Unicode;
	text-align: center;
	background-image: url("../Images/CheckCalligraphyPen.jpg");
	background-size: 100% 100%;
	overflow: hidden;
	background-repeat: no-repeat;
}

h1{
	color: black;
	font-size: 36px;
	text-align: center;
}

/* General Form Field Styling */
label {
	width: 125px;
	margin-left: 50px;
	font-weight: bold;
	opacity: initial;
}

input[type="text"]{
	width: 500px;
	border-radius: 5px;
	box-shadow: 4px 2px darkslateblue;
}

/* General Table Styling */
th{
	border: 3px solid black;
}

tr td{
	height: 25px;
	border: 2px solid black;
	word-wrap: normal;
	vertical-align: top;
}

#headerRow {
	color: darkslateblue;
	text-align: center;
}

.center-align-col {
	text-align: center;
	min-width: 90px;
}

.left-align-col {
	padding-left: 10px;
	word-wrap: normal;
	min-width: 200px;
}

/* Drop-Down Menu Styling */
.JavaScriptDropdown{
	position: relative;
	margin-top: 0;
}

/*Container Styling */
#checkbook-container{	
	opacity: 0.8;
	position: relative;
	width: 800px;
	height: auto;
	border-radius: 8px;
	border: 2px solid gray;
	box-shadow: 4px 3px darkslateblue;
	margin-left: auto;
	margin-right: auto;
	margin-top: 25px;
}

#checkbook-container h2{
	color: darkslateblue;
	font-size: 32px;
	font-weight: bold;
	text-align: center;
	text-decoration: underline;
}

#checkbook-container h3{
	font-size: 24px;
	text-decoration: underline;
	text-align: center;
	color:darkslateblue;
	font-weight: bold;
	margin-left: 25px;
	margin-top: 15px;
}

/* All Transactions Form and Table Styling */
#all-transactions-form {
	position: relative;
}

#all-transactions-form button{
	background-color: darkgray;
	position: absolute;
	right: 40px;
}

#all-transactions-form button:hover {
	background-color: lightgray;
}

#accountholder {
	width: 575px;
}

#balance{
	width: 250px;
}

#transactions-table {
	background-color:white;
	width: 90%;
	height: auto;
	margin-right: auto;
	margin-left: auto;
	padding: 10px;
	border: 2px solid gray;
	border-collapse: collapse;
	border-radius: 8px;
	table-layout: auto;
}

/* New Account and New Transaction Styling */
#account-form, #new-transaction-form {
	position: relative;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	width: 700px;
}

#new-account-button, #new-transaction-button {
	background-color: darkgray;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#new-account-button:hover, #new-transaction-button:hover {
	background-color: lightgray;
}

























